html { 
    background-color: #fcfcfc;
    font-family: Monaco, monospace;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}

.title {
    color: #121212;

    letter-spacing: -3px;
    font-size: 70px;
    font-family: 'Helvetica', 'Arial', sans-serif;

    margin-bottom: 0px;

    align-self: center;
}

.subtitle {
    color: #4a4a4a;
    
    letter-spacing: -1px;
    font-size: 25px;
    font-family: 'Helvetica', 'Arial', sans-serif;

    margin-bottom: 50px;

    align-self: center;

}

.content { 
    display: flex;
    flex-direction: column;
}

.article {
    display: flex;
    flex-direction: column;

    height: 400px;

    padding: 10px;
    margin-bottom: 50px;
    padding-bottom: 5px;

    overflow: hidden;

    border-color: #fcfcfc;
    border-style: solid;
    border-width: 5px;
}

.article:hover {
    border-color: #4695fc;
    border-radius: 10px;

    transition: border-color background-color 0.3s;
}

.article-clicked {
    flex-direction: column;

    height: 400px;

    padding: 10px;
    margin-bottom: 50px;
    padding-bottom: 5px;

    overflow: hidden;

    border-color: #fcfcfc;
    border-style: solid;
    border-width: 5px;
    border-bottom-color: #4695fc;

    height: 100%;
}

article>h1 {
    color: #121212;

    letter-spacing: -3px;
    font-size: 50px;
    font-family: 'Helvetica', 'Arial', sans-serif;

    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar {
    display: flex;
    align-self: center;
    flex-direction: row;

    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.navbar>a>li {
    all: initial;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-content: center;

    color: #121212;
    font-family: Monaco, monospace;

    width: 120px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar>a {
    all: initial;
}

.navbar>a>li:hover {
    border-radius: 10px;
    background-color: #4795fc;

    transition: background-color 0.3s;
}

.current-url {
    border-radius: 10px !important;
    color: white !important;

    background-color: #4795fc !important;
}

.kontakt {
    height: 50vh;
}

.footer {
    display:flex;
    justify-content: center;

    color: #a6a6a6;
}
